
AddDefaultCharset UTF-8
Options +FollowSymLinks
RewriteEngine On
DirectoryIndex public/index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-l
RewriteRule ^(.*)$ public/index.php/$1
